.floating-dialogue {
    border: 1px solid red;
}

.demo-dialogue {
    /* Nothing special about these. */
}

#demo-dialogue-1 {
    background-color: pink;
}

#demo-dialogue-2 {
    background-color: green;
}

#button-list {
    position: absolute;
    top: 1em;
    right: 1em;
}

.single-dialogue {
    background-color: orange;
}

.single-dialogue-button {
    position: absolute;
    right: 1em;
    bottom: 1em;
}

#redraw {
    position: absolute;
    left: 1em;
    bottom: 1em;
}