.open-button {
    font-size: xx-large;
    font-family: monospace;
    padding: 0.2em;
    color: white;
    background-color: #181818;
    position: absolute;
    text-align: center;
}

.open-button.element-visible {
    color: black;
    background-color: #E0E0E0;
}