.open-button {
    font-size: xx-large;
    font-family: monospace;
    padding: 0.2em;
    text-align: center;
    cursor: pointer;
    color: black;
    background-color: #E0E0E0;    
}

.open-button.element-hidden {
    color: white;
    background-color: #181818;    
}

.floating-dialogue {
    position: absolute;
    min-width: 1em;
    min-height: 1em;
    left: 0;
    top: 0;
}

.floating-dialogue.element-hidden {
    visibility: hidden;
}

.floating-dialogue:hover .close-button {
    visibility: visible;
}

.close-button {
    font-size: x-large;
    font-family: monospace;
    position: absolute;
    top: 0;
    right:5px;
    cursor: pointer;
    visibility: hidden;
    background-color: white;
}

.resize-dialogue {
    position: absolute;
    bottom: -0.5em;
    right: -0.5em;
    cursor: se-resize;
    opacity: 0;
}

.resize-dialogue-vertical {
    width: 1em;
    height: 100%;
    background: blue;
}

.resize-dialogue-horizontal {
    width: 100%;
    height: 1em;
    background: yellow;
}

.floating-dialogue:hover .bring-to-front {
    visibility: visible;
}

.bring-to-front {
    font-family: monospace;
    font-wieght: bold;
    position: absolute;
    right: 0.3em;
    bottom: 0.2em;
    cursor: pointer;
    visibility: hidden;
    background-color: white;
}